In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from random import ran

In [3]:
df = pd.DataFrame(randn(5,2),index=range(0,10,2),columns=list('AB'))
df

NameError: name 'randn' is not defined

In [4]:
s=pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [21]:
df=pd.DataFrame(s)
df

     0
0  NaN
1  2.5
2  str
3    3

In [23]:
col=df.columns
col

RangeIndex(start=0, stop=1, step=1)

In [26]:
df[col[1]]

IndexError: index 1 is out of bounds for axis 0 with size 1

In [ ]:
linreg = LinearRegression()

# linreg.fit(X_train,y_train['收缩压'])
linreg.fit(X_train,y_train)


y_pred=linreg.predict(X_test)
y_pred=np.ndarray.round(y_pred,3)#保留三位小数
y_test=pd.DataFrame(y_test,columns=['收缩压','舒张压','血清甘油三酯','血清高密度脂蛋白','血清低密度脂蛋白'])
y_pred_res=pd.DataFrame(y_pred,columns=['收缩压','舒张压','血清甘油三酯','血清高密度脂蛋白','血清低密度脂蛋白'])
# y_pred_res=y_pred_res[]

In [ ]:
'''
用线性回归
'''

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X=filtered_train.iloc[:, 5:]
y=filtered_train.iloc[:, 0:5]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
# y_train['收缩压']


linreg = LinearRegression()

# linreg.fit(X_train,y_train['收缩压'])
linreg.fit(X_train,y_train)

# import xgboost as xgb  
# gbm = xgb.XGBRegressor().fit(data.ix[:,25:], data['y'])  
# predictions = gbm.predict(data.ix[:,25:])  
# actuals = data['y']  
# print(mean_squared_error(actuals, predictions))  

y_pred=linreg.predict(X_test)
y_pred=np.ndarray.round(y_pred,3)#保留三位小数
y_test=pd.DataFrame(y_test,columns=['收缩压','舒张压','血清甘油三酯','血清高密度脂蛋白','血清低密度脂蛋白'])
y_pred_res=pd.DataFrame(y_pred,columns=['收缩压','舒张压','血清甘油三酯','血清高密度脂蛋白','血清低密度脂蛋白'])
# y_pred_res=y_pred_res[]

collumns=y_pred_res.columns
y_test[columns[5]]
y_test=y_test[y_test[columns[5]]>0]

calc_logloss(y_test,y_pred_res)

In [ ]:
test=pd.read_csv('D:\\1python notes\\aliyun\\new\\meinian_round1_test_a_20180409.csv',sep=',',encoding='gbk')

In [7]:
def replaceNaWithAvg(df):
    columns = df.columns
    for column in columns:
        avg = df[column].mean()
        df[column].fillna(avg,inplace=True)
    return df
        
replaceNaWithAvg(df)
df.describe()

              0
count  6.000000
mean   4.600000
std    2.416609
min    1.000000
25%    3.400000
50%    4.800000
75%    5.750000
max    8.000000

In [20]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [19]:
'''
test data pre-processing
'''

def getUsefulColumns(columns):
    filteredColumns=[]
    for clumn in columns:
        if(df[clumn].dtypes == 'float64'):
            filteredColumns.append(clumn)
    return filteredColumns

columns=df.columns
getUsefulColumns(columns)

filteredColumns=getUsefulColumns(columns)
df=df[filteredColumns]

df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [27]:
s=pd.Series([np.nan,2.5,'str', 3])
df=pd.DataFrame(s)
df

     0
0  NaN
1  2.5
2  str
3    3

In [30]:
df.dtypes

0    object
dtype: object

In [31]:
df = pd.DataFrame({'BoolCol': [1, 2, 3, 3, 4],'attr': [22, 33, 22, 44, 66]},  
       index=[10,20,30,40,50])  
df

    BoolCol  attr
10        1    22
20        2    33
30        3    22
40        3    44
50        4    66

In [ ]:
a = df[(df.BoolCol==3)&(df.attr==22)].index.tolist()  
print(a)

In [17]:
s=pd.Series([np.nan,2.5,'str', 3])
df=pd.DataFrame(s)
def replaceNaWithAvg(df):
    columns = df.columns
    for column in columns:
        avg = df[column].mean()
        df[column].fillna(avg,inplace=True)
    return df
        
replaceNaWithAvg(df)
df

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [15]:
def replaceNaWithAvg(df):
    columns = df.columns
    for column in columns:
        avg = df[column].mean()
        df[column].fillna(avg,inplace=True)
    return df
        
replaceNaWithAvg(df)
df

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
'''
test data pre-processing
'''

def getUsefulColumns(columns):
    filteredColumns=[]
    for clumn in columns:
        if(train_data[clumn].dtypes == 'float64'):
            filteredColumns.append(clumn)
    return filteredColumns

columns=test_data.columns
getUsefulColumns(columns)

filteredColumns=getUsefulColumns(columns)
useful_test=test_data[filteredColumns]

useful_test.describe()

In [4]:
dates=pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df=pd.DataFrame( np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.573979 -0.423756  1.071083  0.376947
2013-01-02  0.224453  0.540015 -0.480540  1.118731
2013-01-03  0.523025  1.486032  0.487623  0.784861
2013-01-04 -0.636937  2.600507 -1.517850 -0.576852
2013-01-05 -0.342582 -1.297591  0.014614 -0.710452
2013-01-06 -0.145165 -0.478856  0.924927  1.637312

In [26]:
col=df.columns
df[df[col[3]]>0]

                   A         B         C         D
2013-01-01 -1.573979 -0.423756  1.071083  0.376947
2013-01-02  0.224453  0.540015 -0.480540  1.118731
2013-01-03  0.523025  1.486032  0.487623  0.784861
2013-01-06 -0.145165 -0.478856  0.924927  1.637312

In [6]:
df2=pd.DataFrame({'A': 1. , 
                 'B': pd.Timestamp('20130102'),
                 'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                'D': np.array([3]*4, dtype='int32'),
                  'E': pd.Categorical(['test', 'train', 'test', 'train']),
                  'F': 'foo'
                 })

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [9]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-9-e8d0e54abc86>, line 1)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df

In [ ]:
df.sort_index(axis=1, ascending=False) #按列

In [ ]:
df.sort_index(axis=0, ascending=False) #按行

In [ ]:
df

In [ ]:
df.sort_values(by='B') #默认从小到大

In [ ]:
df['A']

In [ ]:
df[0:3] #不包含3

In [ ]:
df['20130102':'20130104'] #包含最后一个

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[dates[1]]

In [ ]:
df.loc[dates[3]]

In [ ]:
df

In [ ]:
df.loc[:, ['A', 'B']]

In [ ]:
df.loc[1:, ['A', 'B']]

In [ ]:
df.loc['20130102':'20130104', ['A', 'B']]

In [10]:
df.loc['20130102', ['A', 'B']]

A    0.224453
B    0.540015
Name: 2013-01-02 00:00:00, dtype: float64

In [11]:
df.loc[dates[0], 'A']

-1.5739793761825693

In [12]:
'''
Selection by Positio
'''

'\nSelection by Positio\n'

In [13]:
df

                   A         B         C         D
2013-01-01 -1.573979 -0.423756  1.071083  0.376947
2013-01-02  0.224453  0.540015 -0.480540  1.118731
2013-01-03  0.523025  1.486032  0.487623  0.784861
2013-01-04 -0.636937  2.600507 -1.517850 -0.576852
2013-01-05 -0.342582 -1.297591  0.014614 -0.710452
2013-01-06 -0.145165 -0.478856  0.924927  1.637312

In [14]:
df.iloc[3] #第三行

A   -0.636937
B    2.600507
C   -1.517850
D   -0.576852
Name: 2013-01-04 00:00:00, dtype: float64

In [15]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.636937  2.600507
2013-01-05 -0.342582 -1.297591

In [16]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02  0.224453 -0.480540
2013-01-03  0.523025  0.487623
2013-01-05 -0.342582  0.014614

In [17]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02  0.224453  0.540015 -0.480540  1.118731
2013-01-03  0.523025  1.486032  0.487623  0.784861

In [18]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.423756  1.071083
2013-01-02  0.540015 -0.480540
2013-01-03  1.486032  0.487623
2013-01-04  2.600507 -1.517850
2013-01-05 -1.297591  0.014614
2013-01-06 -0.478856  0.924927

In [19]:
df

                   A         B         C         D
2013-01-01 -1.573979 -0.423756  1.071083  0.376947
2013-01-02  0.224453  0.540015 -0.480540  1.118731
2013-01-03  0.523025  1.486032  0.487623  0.784861
2013-01-04 -0.636937  2.600507 -1.517850 -0.576852
2013-01-05 -0.342582 -1.297591  0.014614 -0.710452
2013-01-06 -0.145165 -0.478856  0.924927  1.637312

In [20]:
df.iloc[1,1]['field_results']

IndexError: invalid index to scalar variable.

In [ ]:
df.iat[1,1]

In [ ]:
'''
boolean indexing
'''

In [ ]:
df[df.A>0]

In [ ]:
df

In [ ]:
df[df>0]

In [ ]:
df2=df.copy()

In [ ]:
df2['E']=['one', 'one', 'two', 'three', 'four', 'three']
df2

In [ ]:
df2[df2['E'].isin(['two', 'four'])]

In [ ]:
df2[df2['E'].isin(['two'])]

In [ ]:
s1=pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F']=s1

In [ ]:
df

In [ ]:
df.at[dates[0], 'A']=0

df

In [ ]:
df.iat[0, 1]=0

df

In [ ]:
df.loc[:, 'D']=np.array([5]*len(df))

df

In [ ]:
len(df)

In [ ]:
df2=df.copy()

df2[df2>0]=-df2
df2

In [ ]:
'''
missing data
'''

In [ ]:
df1=df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])

df1

In [ ]:
df1=df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])

df1.loc[dates[0]:dates[1], 'E']=1

df1

In [ ]:
df

In [ ]:
df1.dropna(how='any')
df1

In [ ]:
df1=df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])

df1.loc[dates[0]:dates[1], 'E']=1

df1.dropna(how='any')
df1

In [ ]:
df1

In [ ]:
df1.dropna()

In [ ]:
df1

In [ ]:
df1.fillna(value=5)

In [21]:
pd.isna(df1)

NameError: name 'df1' is not defined

In [22]:
'''
operations

'''

'\noperations\n\n'

In [23]:
df.mean()

A   -0.325198
B    0.404392
C    0.083310
D    0.438425
dtype: float64

In [24]:
df1.mean() #默认列

NameError: name 'df1' is not defined

In [ ]:
df.mean(1) #按行

In [ ]:
s=pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

In [ ]:
s=pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(1)
s

In [ ]:
s=pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

In [ ]:
df.sub(s, axis='index')

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max()-x.min())

In [ ]:
s=pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

In [ ]:
s=pd.Series(['A', 'B', 'C', 'D', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

s.str.lower()

In [ ]:
s.str.higher()

In [ ]:
df=pd.DataFrame(np.random.randn(10, 4))

df

In [ ]:
df['field_results']

In [ ]:
pieces=[df[:3], df[3:7], df[7:]]

pd.concat(pieces)

In [ ]:
left=pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

right=pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

In [ ]:
s=df.iloc[3]
s

In [ ]:
df.append(s, ignore_index=True)

In [ ]:
df.append(s, ignore_index=False)

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                      'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})
df

In [ ]:
df.groupby(['A', 'B']).sum()

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                     ['one', 'two', 'one', 'two',
                        'one', 'two', 'one', 'two']]))

In [ ]:
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df2=df[:4]

df2

In [ ]:
stacked=df2.stack()

In [ ]:
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                      'B' : ['A', 'B', 'C'] * 4,
                      'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                     'D' : np.random.randn(12),
                     'E' : np.random.randn(12)})

df

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'],  columns=['C'])

In [ ]:
rng=pd.date_range('1/1/2012', periods=100, freq='S')
ts=pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

ts.resample('5Min').sum()

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_utc.tz_convert('US/Eastern')

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df['grade']

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
%matplotlib inline
ts.plot()

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                     columns=['A', 'B', 'C', 'D'])

df=df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

In [ ]:
df.to_csv('')
pd.read_csv()

In [ ]:
df.to_hdf()
pd.read_hdf()

In [ ]:
df.to_excel('.xlsx', sheet_name='Sheet1')
pd.read_excel('.xlsx', 'Sheet1', index_col=None, na_values=['NA'])